body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0c/ENIAC-changing_a_tube_%28cropped%29.jpg');
}
